LOCATE      COMP "clk_i"    SITE "P6";
IOBUF       PORT "clk_i"    IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk_i"    25 MHZ;

LOCATE      COMP "MYLED"       SITE "T6";
IOBUF       PORT "MYLED"       IO_TYPE=LVCMOS33;

LOCATE      COMP "RX"       SITE "M13";
IOBUF       PORT "RX"       IO_TYPE=LVCMOS33;

LOCATE	COMP	"BALL_A2"  SITE	"A2";
IOBUF 	PORT	"BALL_A2"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A3"  SITE	"A3";
IOBUF 	PORT	"BALL_A3"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A4"  SITE	"A4";
IOBUF 	PORT	"BALL_A4"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A5"  SITE	"A5";
IOBUF 	PORT	"BALL_A5"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A6"  SITE	"A6";
IOBUF 	PORT	"BALL_A6"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A7"  SITE	"A7";
IOBUF 	PORT	"BALL_A7"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A8"  SITE	"A8";
IOBUF 	PORT	"BALL_A8"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A9"  SITE	"A9";
IOBUF 	PORT	"BALL_A9"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A10"  SITE	"A10";
IOBUF 	PORT	"BALL_A10"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A11"  SITE	"A11";
IOBUF 	PORT	"BALL_A11"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A12"  SITE	"A12";
IOBUF 	PORT	"BALL_A12"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A13"  SITE	"A13";
IOBUF 	PORT	"BALL_A13"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A14"  SITE	"A14";
IOBUF 	PORT	"BALL_A14"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A15"  SITE	"A15";
IOBUF 	PORT	"BALL_A15"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_B1"  SITE	"B1";
IOBUF 	PORT	"BALL_B1"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_B2"  SITE	"B2";
IOBUF 	PORT	"BALL_B2"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_B3"  SITE	"B3";
IOBUF 	PORT	"BALL_B3"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_B4"  SITE	"B4";
IOBUF 	PORT	"BALL_B4"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_B5"  SITE	"B5";
IOBUF 	PORT	"BALL_B5"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_B6"  SITE	"B6";
IOBUF 	PORT	"BALL_B6"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B7"  SITE	"B7";
IOBUF 	PORT	"BALL_B7"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B8"  SITE	"B8";
IOBUF 	PORT	"BALL_B8"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B9"  SITE	"B9";	
IOBUF 	PORT	"BALL_B9"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B10"  SITE	"B10";	
IOBUF 	PORT	"BALL_B10"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B11"  SITE	"B11";	
IOBUF 	PORT	"BALL_B11"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B12"  SITE	"B12";	
IOBUF 	PORT	"BALL_B12"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B13"  SITE	"B13";	
IOBUF 	PORT	"BALL_B13"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B14"  SITE	"B14";	
IOBUF 	PORT	"BALL_B14"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B15"  SITE	"B15";	
IOBUF 	PORT	"BALL_B15"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B16"  SITE	"B16";	
IOBUF 	PORT	"BALL_B16"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C1"  SITE	"C1";
IOBUF 	PORT	"BALL_C1"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C2"  SITE	"C2";	
IOBUF 	PORT	"BALL_C2"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C3"  SITE	"C3";
IOBUF 	PORT	"BALL_C3"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C4"  SITE	"C4";
IOBUF 	PORT	"BALL_C4"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C5"  SITE	"C5";
IOBUF 	PORT	"BALL_C5"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C6"  SITE	"C6";
IOBUF 	PORT	"BALL_C6"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C7"  SITE	"C7";
IOBUF 	PORT	"BALL_C7"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C8"  SITE	"C8";
IOBUF 	PORT	"BALL_C8"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C9"  SITE	"C9";
IOBUF 	PORT	"BALL_C9"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C10"  SITE	"C10";
IOBUF 	PORT	"BALL_C10"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_C11"  SITE	"C11";
IOBUF 	PORT	"BALL_C11"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_C12"  SITE	"C12";
IOBUF 	PORT	"BALL_C12"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_C13"  SITE	"C13";
IOBUF 	PORT	"BALL_C13"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_C14"  SITE	"C14";
IOBUF 	PORT	"BALL_C14"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_C15"  SITE	"C15";
IOBUF 	PORT	"BALL_C15"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_C16"  SITE	"C16";
IOBUF 	PORT	"BALL_C16"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D1"  SITE	"D1";
IOBUF 	PORT	"BALL_D1"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D3"  SITE	"D3";
IOBUF 	PORT	"BALL_D3"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D4"  SITE	"D4";
IOBUF 	PORT	"BALL_D4"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D5"  SITE	"D5";
IOBUF 	PORT	"BALL_D5"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D6"  SITE	"D6";
IOBUF 	PORT	"BALL_D6"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D7"  SITE	"D7";
IOBUF 	PORT	"BALL_D7"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D8"  SITE	"D8";
IOBUF 	PORT	"BALL_D8"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D9"  SITE	"D9";
IOBUF 	PORT	"BALL_D9"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D10"  SITE	"D10";
IOBUF 	PORT	"BALL_D10"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D11"  SITE	"D11";
IOBUF 	PORT	"BALL_D11"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D12"  SITE	"D12";
IOBUF 	PORT	"BALL_D12"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D13"  SITE	"D13";
IOBUF 	PORT	"BALL_D13"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_D14"  SITE	"D14";	
IOBUF 	PORT	"BALL_D14"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_D16"  SITE	"D16";	
IOBUF 	PORT	"BALL_D16"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E1"  SITE	"E1";
IOBUF 	PORT	"BALL_E1"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E2"  SITE	"E2";
IOBUF 	PORT	"BALL_E2"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E3"  SITE	"E3";
IOBUF 	PORT	"BALL_E3"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E4"  SITE	"E4";
IOBUF 	PORT	"BALL_E4"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E5"  SITE	"E5";
IOBUF 	PORT	"BALL_E5"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E6"  SITE	"E6";
IOBUF 	PORT	"BALL_E6"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E7"  SITE	"E7";
IOBUF 	PORT	"BALL_E7"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E8"  SITE	"E8";
IOBUF 	PORT	"BALL_E8"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E9"  SITE	"E9";
IOBUF 	PORT	"BALL_E9"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E10"  SITE	"E10";	
IOBUF 	PORT	"BALL_E10"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E11"  SITE	"E11";	
IOBUF 	PORT	"BALL_E11"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E12"  SITE	"E12";	
IOBUF 	PORT	"BALL_E12"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E13"  SITE	"E13";	
IOBUF 	PORT	"BALL_E13"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E14"  SITE	"E14";	
IOBUF 	PORT	"BALL_E14"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E15"  SITE	"E15";	
IOBUF 	PORT	"BALL_E15"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_E16"  SITE	"E16";	
IOBUF 	PORT	"BALL_E16"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_F1"  SITE	"F1";	
IOBUF 	PORT	"BALL_F1"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_F2"  SITE	"F2";
IOBUF 	PORT	"BALL_F2"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_F3"  SITE	"F3";
IOBUF 	PORT	"BALL_F3"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_F4"  SITE	"F4";
IOBUF 	PORT	"BALL_F4"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_F5"  SITE	"F5";
IOBUF 	PORT	"BALL_F5"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_F12"  SITE	"F12";
IOBUF 	PORT	"BALL_F12"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_F13"  SITE	"F13";
IOBUF 	PORT	"BALL_F13"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_F14"  SITE	"F14";
IOBUF 	PORT	"BALL_F14"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_F15"  SITE	"F15";
IOBUF 	PORT	"BALL_F15"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_F16"  SITE	"F16";
IOBUF 	PORT	"BALL_F16"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_G1"  SITE	"G1";
IOBUF 	PORT	"BALL_G1"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_G2"  SITE	"G2";
IOBUF 	PORT	"BALL_G2"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_G3"  SITE	"G3";
IOBUF 	PORT	"BALL_G3"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_G4"  SITE	"G4";
IOBUF 	PORT	"BALL_G4"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_G5"  SITE	"G5";
IOBUF 	PORT	"BALL_G5"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_G12"  SITE	"G12";
IOBUF 	PORT	"BALL_G12"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_G13"  SITE	"G13";
IOBUF 	PORT	"BALL_G13"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_G14"  SITE	"G14";
IOBUF 	PORT	"BALL_G14"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_G15"  SITE	"G15";
IOBUF 	PORT	"BALL_G15"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_G16"  SITE	"G16";
IOBUF 	PORT	"BALL_G16"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_H2"  SITE	"H2";
IOBUF 	PORT	"BALL_H2"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H3"  SITE	"H3";	
IOBUF 	PORT	"BALL_H3"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H4"  SITE	"H4";	
IOBUF 	PORT	"BALL_H4"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H5"  SITE	"H5";	
IOBUF 	PORT	"BALL_H5"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H12"  SITE	"H12";	
IOBUF 	PORT	"BALL_H12"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H13"  SITE	"H13";	
IOBUF 	PORT	"BALL_H13"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H14"  SITE	"H14";	
IOBUF 	PORT	"BALL_H14"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H15"  SITE	"H15";	
IOBUF 	PORT	"BALL_H15"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_J1"  SITE	"J1";	
IOBUF 	PORT	"BALL_J1"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_J2"  SITE	"J2";
IOBUF 	PORT	"BALL_J2"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_J3"  SITE	"J3";
IOBUF 	PORT	"BALL_J3"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_J4"  SITE	"J4";
IOBUF 	PORT	"BALL_J4"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_J5"  SITE	"J5";
IOBUF 	PORT	"BALL_J5"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_J12"  SITE	"J12";
IOBUF 	PORT	"BALL_J12"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_J13"  SITE	"J13";
IOBUF 	PORT	"BALL_J13"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_J14"  SITE	"J14";
IOBUF 	PORT	"BALL_J14"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_J15"  SITE	"J15";
IOBUF 	PORT	"BALL_J15"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_J16"  SITE	"J16";
IOBUF 	PORT	"BALL_J16"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K1"  SITE	"K1";
IOBUF 	PORT	"BALL_K1"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K2"  SITE	"K2";
IOBUF 	PORT	"BALL_K2"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K3"  SITE	"K3";
IOBUF 	PORT	"BALL_K3"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K4"  SITE	"K4";
IOBUF 	PORT	"BALL_K4"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K5"  SITE	"K5";
IOBUF 	PORT	"BALL_K5"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K12"  SITE	"K12";
IOBUF 	PORT	"BALL_K12"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K13"  SITE	"K13";
IOBUF 	PORT	"BALL_K13"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K14"  SITE	"K14";
IOBUF 	PORT	"BALL_K14"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K15"  SITE	"K15";
IOBUF 	PORT	"BALL_K15"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K16"  SITE	"K16";
IOBUF 	PORT	"BALL_K16"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_L1"  SITE	"L1";	
IOBUF 	PORT	"BALL_L1"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_L2"  SITE	"L2";
IOBUF 	PORT	"BALL_L2"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_L3"  SITE	"L3";	
IOBUF 	PORT	"BALL_L3"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_L4"  SITE	"L4";	
IOBUF 	PORT	"BALL_L4"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_L5"  SITE	"L5";	
IOBUF 	PORT	"BALL_L5"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_L12"  SITE	"L12";	
IOBUF 	PORT	"BALL_L12"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_L13"  SITE	"L13";	
IOBUF 	PORT	"BALL_L13"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_L14"  SITE	"L14";	
IOBUF 	PORT	"BALL_L14"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_L15"  SITE	"L15";	
IOBUF 	PORT	"BALL_L15"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_L16"  SITE	"L16";	
IOBUF 	PORT	"BALL_L16"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_M1"  	SITE	"M1";	
IOBUF 	PORT	"BALL_M1"   IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_M2"  	SITE	"M2";	
IOBUF 	PORT	"BALL_M2"   IO_TYPE=LVCMOS33;	
LOCATE	COMP	"BALL_M3"  	SITE	"M3";
IOBUF 	PORT	"BALL_M3"   IO_TYPE=LVCMOS33;	
LOCATE	COMP	"BALL_M4"  	SITE	"M4";
IOBUF 	PORT	"BALL_M4"   IO_TYPE=LVCMOS33;	
LOCATE	COMP	"BALL_M5"  	SITE	"M5";
IOBUF 	PORT	"BALL_M5"   IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_M6"  	SITE	"M6";	
IOBUF 	PORT	"BALL_M6"   IO_TYPE=LVCMOS33;	
LOCATE	COMP	"BALL_M7"  	SITE	"M7";
IOBUF 	PORT	"BALL_M7"   IO_TYPE=LVCMOS33;	
LOCATE	COMP	"BALL_M8"  	SITE	"M8";
IOBUF 	PORT	"BALL_M8"   IO_TYPE=LVCMOS33;	
LOCATE	COMP	"BALL_M9"  	SITE	"M9";
IOBUF 	PORT	"BALL_M9"   IO_TYPE=LVCMOS33;
//LOCATE	COMP	"BALL_M10"  SITE	"M10"; //=TDO on 'CABGA256'
//IOBUF 	PORT	"BALL_M10"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_M11"  SITE	"M11";
IOBUF 	PORT	"BALL_M11"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_M12"  SITE	"M12";
IOBUF 	PORT	"BALL_M12"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_M13"  SITE	"M13";
IOBUF 	PORT	"BALL_M13"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_M14"  SITE	"M14";
IOBUF 	PORT	"BALL_M14"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_M15"  SITE	"M15";
IOBUF 	PORT	"BALL_M15"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_M16"  SITE	"M16";
IOBUF 	PORT	"BALL_M16"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N1"  SITE	"N1";
IOBUF 	PORT	"BALL_N1"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N3"  SITE	"N3";
IOBUF 	PORT	"BALL_N3"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N4"  SITE	"N4";
IOBUF 	PORT	"BALL_N4"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N5"  SITE	"N5";
IOBUF 	PORT	"BALL_N5"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N6"  SITE	"N6";
IOBUF 	PORT	"BALL_N6"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N7"  SITE	"N7";
IOBUF 	PORT	"BALL_N7"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N8"  SITE	"N8";
IOBUF 	PORT	"BALL_N8"  IO_TYPE=LVCMOS33;		
//LOCATE	COMP	"BALL_N9"  SITE	"N9";  //=CCLK on package 'CABGA256'
//IOBUF 	PORT	"BALL_N9"  IO_TYPE=LVCMOS33;		
//LOCATE	COMP	"BALL_N10"  SITE	"N10"; //=CFG_0 on package 'CABGA256'
//IOBUF 	PORT	"BALL_N10"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N11"  SITE	"N11";
IOBUF 	PORT	"BALL_N11"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N12"  SITE	"N12";
IOBUF 	PORT	"BALL_N12"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N13"  SITE	"N13";
IOBUF 	PORT	"BALL_N13"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N14"  SITE	"N14";
IOBUF 	PORT	"BALL_N14"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_N16"  SITE	"N16";	
IOBUF 	PORT	"BALL_N16"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P1"  SITE	"P1";	
IOBUF 	PORT	"BALL_P1"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P2"  SITE	"P2";	
IOBUF 	PORT	"BALL_P2"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P3"  SITE	"P3";	
IOBUF 	PORT	"BALL_P3"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P4"  SITE	"P4";	
IOBUF 	PORT	"BALL_P4"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P5"  SITE	"P5";	
IOBUF 	PORT	"BALL_P5"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P6"  SITE	"P6";	
IOBUF 	PORT	"BALL_P6"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P7"  SITE	"P7";	
IOBUF 	PORT	"BALL_P7"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P8"  SITE	"P8";	
IOBUF 	PORT	"BALL_P8"  IO_TYPE=LVCMOS33;
//LOCATE	COMP	"BALL_P9"  SITE	"P9";	//DONE on package 'CABGA256'
//IOBUF 	PORT	"BALL_P9"  IO_TYPE=LVCMOS33;
//LOCATE	COMP	"BALL_P10"  SITE	"P10";	//CFG_1 on package 'CABGA256'
//IOBUF 	PORT	"BALL_P10"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P11"  SITE	"P11";	
IOBUF 	PORT	"BALL_P11"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P12"  SITE	"P12";	
IOBUF 	PORT	"BALL_P12"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P13"  SITE	"P13";	
IOBUF 	PORT	"BALL_P13"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P14"  SITE	"P14";	
IOBUF 	PORT	"BALL_P14"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P15"  SITE	"P15";	
IOBUF 	PORT	"BALL_P15"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_P16"  SITE	"P16";	
IOBUF 	PORT	"BALL_P16"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_R1"  SITE	"R1";	
IOBUF 	PORT	"BALL_R1"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_R2"  SITE	"R2";	
IOBUF 	PORT	"BALL_R2"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_R3"  SITE	"R3";	
IOBUF 	PORT	"BALL_R3"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_R4"  SITE	"R4";	
IOBUF 	PORT	"BALL_R4"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_R5"  SITE	"R5";	
IOBUF 	PORT	"BALL_R5"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_R6"  SITE	"R6";	
IOBUF 	PORT	"BALL_R6"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_R7"  SITE	"R7";	
IOBUF 	PORT	"BALL_R7"  IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_R8"  SITE	"R8";	
IOBUF 	PORT	"BALL_R8"  IO_TYPE=LVCMOS33;
//LOCATE	COMP	"BALL_R9"  SITE	"R9"; //PROGRAMN on package 'CABGA256'
//IOBUF 	PORT	"BALL_R9"  IO_TYPE=LVCMOS33;		
//LOCATE	COMP	"BALL_R10"  SITE	"R10"; //CFG_2 on package 'CABGA256'
//IOBUF 	PORT	"BALL_R10"  IO_TYPE=LVCMOS33;		
//LOCATE	COMP	"BALL_R11"  SITE	"R11"; //TDI on package 'CABGA256'
//IOBUF 	PORT	"BALL_R11"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_R12"  SITE	"R12";
IOBUF 	PORT	"BALL_R12"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_R13"  SITE	"R13";
IOBUF 	PORT	"BALL_R13"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_R14"  SITE	"R14";
IOBUF 	PORT	"BALL_R14"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_R15"  SITE	"R15";
IOBUF 	PORT	"BALL_R15"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_R16"  SITE	"R16";
IOBUF 	PORT	"BALL_R16"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T2"  SITE	"T2";
IOBUF 	PORT	"BALL_T2"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T3"  SITE	"T3";
IOBUF 	PORT	"BALL_T3"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T4"  SITE	"T4";
IOBUF 	PORT	"BALL_T4"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T6"  SITE	"T6";
IOBUF 	PORT	"BALL_T6"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T7"  SITE	"T7";
IOBUF 	PORT	"BALL_T7"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T8"  SITE	"T8";
IOBUF 	PORT	"BALL_T8"  IO_TYPE=LVCMOS33;		
//LOCATE	COMP	"BALL_T9"  SITE	"T9"; //INITN on package 'CABGA256'
//IOBUF 	PORT	"BALL_T9"  IO_TYPE=LVCMOS33;		
//LOCATE	COMP	"BALL_T10"  SITE	"T10"; //TCK on package 'CABGA256'
//IOBUF 	PORT	"BALL_T10"  IO_TYPE=LVCMOS33;		
//LOCATE	COMP	"BALL_T11"  SITE	"T11"; //TMS on package 'CABGA256'
//IOBUF 	PORT	"BALL_T11"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T13"  SITE	"T13";
IOBUF 	PORT	"BALL_T13"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T14"  SITE	"T14";
IOBUF 	PORT	"BALL_T14"  IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T15"  SITE	"T15";
IOBUF 	PORT	"BALL_T15"  IO_TYPE=LVCMOS33;