LOCATE COMP "pads[0]" SITE "B1";	# PL2A
IOBUF PORT "pads[0]" PULLMODE=UP;
LOCATE COMP "pads[1]" SITE "B2";	# PL2B
IOBUF PORT "pads[1]" PULLMODE=UP;
LOCATE COMP "pads[2]" SITE "C3";	# PL2C
IOBUF PORT "pads[2]" PULLMODE=UP;
LOCATE COMP "pads[3]" SITE "D3";	# PL2D
IOBUF PORT "pads[3]" PULLMODE=UP;
LOCATE COMP "pads[4]" SITE "C1";	# PL5A
IOBUF PORT "pads[4]" PULLMODE=UP;
LOCATE COMP "pads[5]" SITE "E3";	# PL5C
IOBUF PORT "pads[5]" PULLMODE=UP;
LOCATE COMP "pads[6]" SITE "C2";	# PL5B
IOBUF PORT "pads[6]" PULLMODE=UP;
LOCATE COMP "pads[7]" SITE "F3";	# PL5D
IOBUF PORT "pads[7]" PULLMODE=UP;
LOCATE COMP "pads[8]" SITE "D1";	# PL8A
IOBUF PORT "pads[8]" PULLMODE=UP;
LOCATE COMP "pads[9]" SITE "F4";	# PL8C
IOBUF PORT "pads[9]" PULLMODE=UP;
LOCATE COMP "pads[10]" SITE "E2";	# PL8B
IOBUF PORT "pads[10]" PULLMODE=UP;
LOCATE COMP "pads[11]" SITE "F5";	# PL8D
IOBUF PORT "pads[11]" PULLMODE=UP;
LOCATE COMP "pads[12]" SITE "G5";	# PL11A
IOBUF PORT "pads[12]" PULLMODE=UP;
LOCATE COMP "pads[13]" SITE "F2";	# PL11C
IOBUF PORT "pads[13]" PULLMODE=UP;
LOCATE COMP "pads[14]" SITE "G4";	# PL11B
IOBUF PORT "pads[14]" PULLMODE=UP;
LOCATE COMP "pads[15]" SITE "E1";	# PL11D
IOBUF PORT "pads[15]" PULLMODE=UP;
LOCATE COMP "pads[16]" SITE "F1";	# PL14A
IOBUF PORT "pads[16]" PULLMODE=UP;
LOCATE COMP "pads[17]" SITE "G3";	# PL14C
IOBUF PORT "pads[17]" PULLMODE=UP;
LOCATE COMP "pads[18]" SITE "G2";	# PL14B
IOBUF PORT "pads[18]" PULLMODE=UP;
LOCATE COMP "pads[19]" SITE "H3";	# PL14D
IOBUF PORT "pads[19]" PULLMODE=UP;
LOCATE COMP "pads[20]" SITE "H5";	# PL17A
IOBUF PORT "pads[20]" PULLMODE=UP;
LOCATE COMP "pads[21]" SITE "J4";	# PL17C
IOBUF PORT "pads[21]" PULLMODE=UP;
LOCATE COMP "pads[22]" SITE "H4";	# PL17B
IOBUF PORT "pads[22]" PULLMODE=UP;
LOCATE COMP "pads[23]" SITE "J5";	# PL17D
IOBUF PORT "pads[23]" PULLMODE=UP;
LOCATE COMP "pads[24]" SITE "G1";	# PL20A
IOBUF PORT "pads[24]" PULLMODE=UP;
LOCATE COMP "pads[25]" SITE "J3";	# PL20C
IOBUF PORT "pads[25]" PULLMODE=UP;
LOCATE COMP "pads[26]" SITE "H2";	# PL20B
IOBUF PORT "pads[26]" PULLMODE=UP;
LOCATE COMP "pads[27]" SITE "K3";	# PL20D
IOBUF PORT "pads[27]" PULLMODE=UP;
LOCATE COMP "pads[28]" SITE "J1";	# PL23A
IOBUF PORT "pads[28]" PULLMODE=UP;
LOCATE COMP "pads[29]" SITE "K1";	# PL23C
IOBUF PORT "pads[29]" PULLMODE=UP;
LOCATE COMP "pads[30]" SITE "J2";	# PL23B
IOBUF PORT "pads[30]" PULLMODE=UP;
LOCATE COMP "pads[31]" SITE "K2";	# PL23D
IOBUF PORT "pads[31]" PULLMODE=UP;
LOCATE COMP "pads[32]" SITE "L1";	# PL26A
IOBUF PORT "pads[32]" PULLMODE=UP;
LOCATE COMP "pads[33]" SITE "M1";	# PL26C
IOBUF PORT "pads[33]" PULLMODE=UP;
LOCATE COMP "pads[34]" SITE "L2";	# PL26B
IOBUF PORT "pads[34]" PULLMODE=UP;
LOCATE COMP "pads[35]" SITE "M2";	# PL26D
IOBUF PORT "pads[35]" PULLMODE=UP;
LOCATE COMP "pads[36]" SITE "K4";	# PL29A
IOBUF PORT "pads[36]" PULLMODE=UP;
LOCATE COMP "pads[37]" SITE "L4";	# PL29C
IOBUF PORT "pads[37]" PULLMODE=UP;
LOCATE COMP "pads[38]" SITE "K5";	# PL29B
IOBUF PORT "pads[38]" PULLMODE=UP;
LOCATE COMP "pads[39]" SITE "L5";	# PL29D
IOBUF PORT "pads[39]" PULLMODE=UP;
LOCATE COMP "pads[40]" SITE "N1";	# PL32A
IOBUF PORT "pads[40]" PULLMODE=UP;
LOCATE COMP "pads[41]" SITE "L3";	# PL32C
IOBUF PORT "pads[41]" PULLMODE=UP;
LOCATE COMP "pads[42]" SITE "P2";	# PL32B
IOBUF PORT "pads[42]" PULLMODE=UP;
LOCATE COMP "pads[43]" SITE "M3";	# PL32D
IOBUF PORT "pads[43]" PULLMODE=UP;
LOCATE COMP "pads[44]" SITE "P1";	# PL35A
IOBUF PORT "pads[44]" PULLMODE=UP;
LOCATE COMP "pads[45]" SITE "M4";	# PL35C
IOBUF PORT "pads[45]" PULLMODE=UP;
LOCATE COMP "pads[46]" SITE "R1";	# PL35B
IOBUF PORT "pads[46]" PULLMODE=UP;
LOCATE COMP "pads[47]" SITE "N3";	# PL35D
IOBUF PORT "pads[47]" PULLMODE=UP;
LOCATE COMP "pads[48]" SITE "N4";	# PL38A
IOBUF PORT "pads[48]" PULLMODE=UP;
LOCATE COMP "pads[49]" SITE "R2";	# PL38C
IOBUF PORT "pads[49]" PULLMODE=UP;
LOCATE COMP "pads[50]" SITE "P3";	# PL38B
IOBUF PORT "pads[50]" PULLMODE=UP;
LOCATE COMP "pads[51]" SITE "T2";	# PL38D
IOBUF PORT "pads[51]" PULLMODE=UP;
LOCATE COMP "pads[52]" SITE "P4";	# PL41A
IOBUF PORT "pads[52]" PULLMODE=UP;
LOCATE COMP "pads[53]" SITE "R4";	# PL41C
IOBUF PORT "pads[53]" PULLMODE=UP;
LOCATE COMP "pads[54]" SITE "R3";	# PL41B
IOBUF PORT "pads[54]" PULLMODE=UP;
LOCATE COMP "pads[55]" SITE "T3";	# PL41D
IOBUF PORT "pads[55]" PULLMODE=UP;
LOCATE COMP "pads[56]" SITE "R5";	# PL44A
IOBUF PORT "pads[56]" PULLMODE=UP;
LOCATE COMP "pads[57]" SITE "M5";	# PL44C
IOBUF PORT "pads[57]" PULLMODE=UP;
LOCATE COMP "pads[58]" SITE "T4";	# PL44B
IOBUF PORT "pads[58]" PULLMODE=UP;
LOCATE COMP "pads[59]" SITE "N5";	# PL44D
IOBUF PORT "pads[59]" PULLMODE=UP;
LOCATE COMP "pads[60]" SITE "M6";	# PL47A
IOBUF PORT "pads[60]" PULLMODE=UP;
LOCATE COMP "pads[61]" SITE "N6";	# PL47B
IOBUF PORT "pads[61]" PULLMODE=UP;
LOCATE COMP "pads[62]" SITE "P6";	# PL47C
IOBUF PORT "pads[62]" PULLMODE=UP;
LOCATE COMP "pads[63]" SITE "P5";	# PL47D
IOBUF PORT "pads[63]" PULLMODE=UP;
LOCATE COMP "pads[64]" SITE "T6";	# PB4A
IOBUF PORT "pads[64]" PULLMODE=UP;
LOCATE COMP "pads[65]" SITE "R7";	# PB6A
IOBUF PORT "pads[65]" PULLMODE=UP;
LOCATE COMP "pads[66]" SITE "R6";	# PB4B
IOBUF PORT "pads[66]" PULLMODE=UP;
LOCATE COMP "pads[67]" SITE "P7";	# PB6B
IOBUF PORT "pads[67]" PULLMODE=UP;
LOCATE COMP "pads[68]" SITE "N7";	# PB9A
IOBUF PORT "pads[68]" PULLMODE=UP;
LOCATE COMP "pads[69]" SITE "T7";	# PB11A
IOBUF PORT "pads[69]" PULLMODE=UP;
LOCATE COMP "pads[70]" SITE "M7";	# PB9B
IOBUF PORT "pads[70]" PULLMODE=UP;
LOCATE COMP "pads[71]" SITE "T8";	# PB11B
IOBUF PORT "pads[71]" PULLMODE=UP;
LOCATE COMP "pads[72]" SITE "R8";	# PB13A
IOBUF PORT "pads[72]" PULLMODE=UP;
LOCATE COMP "pads[73]" SITE "N8";	# PB15A
IOBUF PORT "pads[73]" PULLMODE=UP;
LOCATE COMP "pads[74]" SITE "P8";	# PB13B
IOBUF PORT "pads[74]" PULLMODE=UP;
LOCATE COMP "pads[75]" SITE "M8";	# PB15B
IOBUF PORT "pads[75]" PULLMODE=UP;
LOCATE COMP "pads[76]" SITE "M9";	# PB18A
IOBUF PORT "pads[76]" PULLMODE=UP;
LOCATE COMP "pads[77]" SITE "P12";	# PR47D
IOBUF PORT "pads[77]" PULLMODE=UP;
LOCATE COMP "pads[78]" SITE "P11";	# PR47C
IOBUF PORT "pads[78]" PULLMODE=UP;
LOCATE COMP "pads[79]" SITE "N11";	# PR47B
IOBUF PORT "pads[79]" PULLMODE=UP;
LOCATE COMP "pads[80]" SITE "M11";	# PR47A
IOBUF PORT "pads[80]" PULLMODE=UP;
LOCATE COMP "pads[81]" SITE "N12";	# PR44D
IOBUF PORT "pads[81]" PULLMODE=UP;
LOCATE COMP "pads[82]" SITE "T13";	# PR44B
IOBUF PORT "pads[82]" PULLMODE=UP;
LOCATE COMP "pads[83]" SITE "M12";	# PR44C
IOBUF PORT "pads[83]" PULLMODE=UP;
LOCATE COMP "pads[84]" SITE "R12";	# PR44A
IOBUF PORT "pads[84]" PULLMODE=UP;
LOCATE COMP "pads[85]" SITE "T14";	# PR41D
IOBUF PORT "pads[85]" PULLMODE=UP;
LOCATE COMP "pads[86]" SITE "R14";	# PR41B
IOBUF PORT "pads[86]" PULLMODE=UP;
LOCATE COMP "pads[87]" SITE "R13";	# PR41C
IOBUF PORT "pads[87]" PULLMODE=UP;
LOCATE COMP "pads[88]" SITE "P13";	# PR41A
IOBUF PORT "pads[88]" PULLMODE=UP;
LOCATE COMP "pads[89]" SITE "T15";	# PR38D
IOBUF PORT "pads[89]" PULLMODE=UP;
LOCATE COMP "pads[90]" SITE "P14";	# PR38B
IOBUF PORT "pads[90]" PULLMODE=UP;
LOCATE COMP "pads[91]" SITE "R15";	# PR38C
IOBUF PORT "pads[91]" PULLMODE=UP;
LOCATE COMP "pads[92]" SITE "N13";	# PR38A
IOBUF PORT "pads[92]" PULLMODE=UP;
LOCATE COMP "pads[93]" SITE "N14";	# PR35D
IOBUF PORT "pads[93]" PULLMODE=UP;
LOCATE COMP "pads[94]" SITE "R16";	# PR35B
IOBUF PORT "pads[94]" PULLMODE=UP;
LOCATE COMP "pads[95]" SITE "M13";	# PR35C
IOBUF PORT "pads[95]" PULLMODE=UP;
LOCATE COMP "pads[96]" SITE "P16";	# PR35A
IOBUF PORT "pads[96]" PULLMODE=UP;
LOCATE COMP "pads[97]" SITE "M14";	# PR32D
IOBUF PORT "pads[97]" PULLMODE=UP;
LOCATE COMP "pads[98]" SITE "P15";	# PR32B
IOBUF PORT "pads[98]" PULLMODE=UP;
LOCATE COMP "pads[99]" SITE "L14";	# PR32C
IOBUF PORT "pads[99]" PULLMODE=UP;
LOCATE COMP "pads[100]" SITE "N16";	# PR32A
IOBUF PORT "pads[100]" PULLMODE=UP;
LOCATE COMP "pads[101]" SITE "L12";	# PR29D
IOBUF PORT "pads[101]" PULLMODE=UP;
LOCATE COMP "pads[102]" SITE "K12";	# PR29B
IOBUF PORT "pads[102]" PULLMODE=UP;
LOCATE COMP "pads[103]" SITE "L13";	# PR29C
IOBUF PORT "pads[103]" PULLMODE=UP;
LOCATE COMP "pads[104]" SITE "K13";	# PR29A
IOBUF PORT "pads[104]" PULLMODE=UP;
LOCATE COMP "pads[105]" SITE "M15";	# PR26D
IOBUF PORT "pads[105]" PULLMODE=UP;
LOCATE COMP "pads[106]" SITE "L15";	# PR26B
IOBUF PORT "pads[106]" PULLMODE=UP;
LOCATE COMP "pads[107]" SITE "M16";	# PR26C
IOBUF PORT "pads[107]" PULLMODE=UP;
LOCATE COMP "pads[108]" SITE "L16";	# PR26A
IOBUF PORT "pads[108]" PULLMODE=UP;
LOCATE COMP "pads[109]" SITE "K15";	# PR23D
IOBUF PORT "pads[109]" PULLMODE=UP;
LOCATE COMP "pads[110]" SITE "J15";	# PR23B
IOBUF PORT "pads[110]" PULLMODE=UP;
LOCATE COMP "pads[111]" SITE "K16";	# PR23C
IOBUF PORT "pads[111]" PULLMODE=UP;
LOCATE COMP "pads[112]" SITE "J16";	# PR23A
IOBUF PORT "pads[112]" PULLMODE=UP;
LOCATE COMP "pads[113]" SITE "K14";	# PR20D
IOBUF PORT "pads[113]" PULLMODE=UP;
LOCATE COMP "pads[114]" SITE "H15";	# PR20B
IOBUF PORT "pads[114]" PULLMODE=UP;
LOCATE COMP "pads[115]" SITE "J14";	# PR20C
IOBUF PORT "pads[115]" PULLMODE=UP;
LOCATE COMP "pads[116]" SITE "G16";	# PR20A
IOBUF PORT "pads[116]" PULLMODE=UP;
LOCATE COMP "pads[117]" SITE "J12";	# PR17D
IOBUF PORT "pads[117]" PULLMODE=UP;
LOCATE COMP "pads[118]" SITE "H13";	# PR17B
IOBUF PORT "pads[118]" PULLMODE=UP;
LOCATE COMP "pads[119]" SITE "J13";	# PR17C
IOBUF PORT "pads[119]" PULLMODE=UP;
LOCATE COMP "pads[120]" SITE "H12";	# PR17A
IOBUF PORT "pads[120]" PULLMODE=UP;
LOCATE COMP "pads[121]" SITE "H14";	# PR14D
IOBUF PORT "pads[121]" PULLMODE=UP;
LOCATE COMP "pads[122]" SITE "G15";	# PR14B
IOBUF PORT "pads[122]" PULLMODE=UP;
LOCATE COMP "pads[123]" SITE "G14";	# PR14C
IOBUF PORT "pads[123]" PULLMODE=UP;
LOCATE COMP "pads[124]" SITE "F16";	# PR14A
IOBUF PORT "pads[124]" PULLMODE=UP;
LOCATE COMP "pads[125]" SITE "E16";	# PR11D
IOBUF PORT "pads[125]" PULLMODE=UP;
LOCATE COMP "pads[126]" SITE "G13";	# PR11B
IOBUF PORT "pads[126]" PULLMODE=UP;
LOCATE COMP "pads[127]" SITE "F15";	# PR11C
IOBUF PORT "pads[127]" PULLMODE=UP;
LOCATE COMP "pads[128]" SITE "G12";	# PR11A
IOBUF PORT "pads[128]" PULLMODE=UP;
LOCATE COMP "pads[129]" SITE "F12";	# PR8D
IOBUF PORT "pads[129]" PULLMODE=UP;
LOCATE COMP "pads[130]" SITE "E15";	# PR8B
IOBUF PORT "pads[130]" PULLMODE=UP;
LOCATE COMP "pads[131]" SITE "F13";	# PR8C
IOBUF PORT "pads[131]" PULLMODE=UP;
LOCATE COMP "pads[132]" SITE "D16";	# PR8A
IOBUF PORT "pads[132]" PULLMODE=UP;
LOCATE COMP "pads[133]" SITE "F14";	# PR5D
IOBUF PORT "pads[133]" PULLMODE=UP;
LOCATE COMP "pads[134]" SITE "C15";	# PR5B
IOBUF PORT "pads[134]" PULLMODE=UP;
LOCATE COMP "pads[135]" SITE "E14";	# PR5C
IOBUF PORT "pads[135]" PULLMODE=UP;
LOCATE COMP "pads[136]" SITE "C16";	# PR5A
IOBUF PORT "pads[136]" PULLMODE=UP;
LOCATE COMP "pads[137]" SITE "D14";	# PR2D
IOBUF PORT "pads[137]" PULLMODE=UP;
LOCATE COMP "pads[138]" SITE "C14";	# PR2C
IOBUF PORT "pads[138]" PULLMODE=UP;
LOCATE COMP "pads[139]" SITE "B15";	# PR2B
IOBUF PORT "pads[139]" PULLMODE=UP;
LOCATE COMP "pads[140]" SITE "B16";	# PR2A
IOBUF PORT "pads[140]" PULLMODE=UP;
LOCATE COMP "pads[141]" SITE "A15";	# PT67B
IOBUF PORT "pads[141]" PULLMODE=UP;
LOCATE COMP "pads[142]" SITE "A14";	# PT65B
IOBUF PORT "pads[142]" PULLMODE=UP;
LOCATE COMP "pads[143]" SITE "B14";	# PT67A
IOBUF PORT "pads[143]" PULLMODE=UP;
LOCATE COMP "pads[144]" SITE "A13";	# PT65A
IOBUF PORT "pads[144]" PULLMODE=UP;
LOCATE COMP "pads[145]" SITE "E13";	# PT62B
IOBUF PORT "pads[145]" PULLMODE=UP;
LOCATE COMP "pads[146]" SITE "C13";	# PT60B
IOBUF PORT "pads[146]" PULLMODE=UP;
LOCATE COMP "pads[147]" SITE "D13";	# PT62A
IOBUF PORT "pads[147]" PULLMODE=UP;
LOCATE COMP "pads[148]" SITE "B13";	# PT60A
IOBUF PORT "pads[148]" PULLMODE=UP;
LOCATE COMP "pads[149]" SITE "E12";	# PT58B
IOBUF PORT "pads[149]" PULLMODE=UP;
LOCATE COMP "pads[150]" SITE "C12";	# PT56B
IOBUF PORT "pads[150]" PULLMODE=UP;
LOCATE COMP "pads[151]" SITE "D12";	# PT58A
IOBUF PORT "pads[151]" PULLMODE=UP;
LOCATE COMP "pads[152]" SITE "B12";	# PT56A
IOBUF PORT "pads[152]" PULLMODE=UP;
LOCATE COMP "pads[153]" SITE "A12";	# PT53B
IOBUF PORT "pads[153]" PULLMODE=UP;
LOCATE COMP "pads[154]" SITE "E11";	# PT51B
IOBUF PORT "pads[154]" PULLMODE=UP;
LOCATE COMP "pads[155]" SITE "A11";	# PT53A
IOBUF PORT "pads[155]" PULLMODE=UP;
LOCATE COMP "pads[156]" SITE "D11";	# PT51A
IOBUF PORT "pads[156]" PULLMODE=UP;
LOCATE COMP "pads[157]" SITE "C11";	# PT49B
IOBUF PORT "pads[157]" PULLMODE=UP;
LOCATE COMP "pads[158]" SITE "E10";	# PT47B
IOBUF PORT "pads[158]" PULLMODE=UP;
LOCATE COMP "pads[159]" SITE "B11";	# PT49A
IOBUF PORT "pads[159]" PULLMODE=UP;
LOCATE COMP "pads[160]" SITE "D10";	# PT47A
IOBUF PORT "pads[160]" PULLMODE=UP;
LOCATE COMP "pads[161]" SITE "C10";	# PT44B
IOBUF PORT "pads[161]" PULLMODE=UP;
LOCATE COMP "pads[162]" SITE "A10";	# PT42B
IOBUF PORT "pads[162]" PULLMODE=UP;
LOCATE COMP "pads[163]" SITE "B10";	# PT44A
IOBUF PORT "pads[163]" PULLMODE=UP;
LOCATE COMP "pads[164]" SITE "A9";	# PT42A
IOBUF PORT "pads[164]" PULLMODE=UP;
LOCATE COMP "pads[165]" SITE "E9";	# PT40B
IOBUF PORT "pads[165]" PULLMODE=UP;
LOCATE COMP "pads[166]" SITE "C9";	# PT38B
IOBUF PORT "pads[166]" PULLMODE=UP;
LOCATE COMP "pads[167]" SITE "D9";	# PT40A
IOBUF PORT "pads[167]" PULLMODE=UP;
LOCATE COMP "pads[168]" SITE "B9";	# PT38A
IOBUF PORT "pads[168]" PULLMODE=UP;
LOCATE COMP "pads[169]" SITE "B8";	# PT35B
IOBUF PORT "pads[169]" PULLMODE=UP;
LOCATE COMP "pads[170]" SITE "D8";	# PT33B
IOBUF PORT "pads[170]" PULLMODE=UP;
LOCATE COMP "pads[171]" SITE "C8";	# PT35A
IOBUF PORT "pads[171]" PULLMODE=UP;
LOCATE COMP "pads[172]" SITE "E8";	# PT33A
IOBUF PORT "pads[172]" PULLMODE=UP;
LOCATE COMP "pads[173]" SITE "A8";	# PT29B
IOBUF PORT "pads[173]" PULLMODE=UP;
LOCATE COMP "pads[174]" SITE "B7";	# PT27B
IOBUF PORT "pads[174]" PULLMODE=UP;
LOCATE COMP "pads[175]" SITE "A7";	# PT29A
IOBUF PORT "pads[175]" PULLMODE=UP;
LOCATE COMP "pads[176]" SITE "C7";	# PT27A
IOBUF PORT "pads[176]" PULLMODE=UP;
LOCATE COMP "pads[177]" SITE "D7";	# PT24B
IOBUF PORT "pads[177]" PULLMODE=UP;
LOCATE COMP "pads[178]" SITE "B6";	# PT22B
IOBUF PORT "pads[178]" PULLMODE=UP;
LOCATE COMP "pads[179]" SITE "E7";	# PT24A
IOBUF PORT "pads[179]" PULLMODE=UP;
LOCATE COMP "pads[180]" SITE "C6";	# PT22A
IOBUF PORT "pads[180]" PULLMODE=UP;
LOCATE COMP "pads[181]" SITE "D6";	# PT20B
IOBUF PORT "pads[181]" PULLMODE=UP;
LOCATE COMP "pads[182]" SITE "A6";	# PT18B
IOBUF PORT "pads[182]" PULLMODE=UP;
LOCATE COMP "pads[183]" SITE "E6";	# PT20A
IOBUF PORT "pads[183]" PULLMODE=UP;
LOCATE COMP "pads[184]" SITE "A5";	# PT18A
IOBUF PORT "pads[184]" PULLMODE=UP;
LOCATE COMP "pads[185]" SITE "B5";	# PT15B
IOBUF PORT "pads[185]" PULLMODE=UP;
LOCATE COMP "pads[186]" SITE "D5";	# PT13B
IOBUF PORT "pads[186]" PULLMODE=UP;
LOCATE COMP "pads[187]" SITE "C5";	# PT15A
IOBUF PORT "pads[187]" PULLMODE=UP;
LOCATE COMP "pads[188]" SITE "E5";	# PT13A
IOBUF PORT "pads[188]" PULLMODE=UP;
LOCATE COMP "pads[189]" SITE "B4";	# PT11B
IOBUF PORT "pads[189]" PULLMODE=UP;
LOCATE COMP "pads[190]" SITE "D4";	# PT9B
IOBUF PORT "pads[190]" PULLMODE=UP;
LOCATE COMP "pads[191]" SITE "C4";	# PT11A
IOBUF PORT "pads[191]" PULLMODE=UP;
LOCATE COMP "pads[192]" SITE "E4";	# PT9A
IOBUF PORT "pads[192]" PULLMODE=UP;
LOCATE COMP "pads[193]" SITE "A4";	# PT6B
IOBUF PORT "pads[193]" PULLMODE=UP;
LOCATE COMP "pads[194]" SITE "B3";	# PT4B
IOBUF PORT "pads[194]" PULLMODE=UP;
LOCATE COMP "pads[195]" SITE "A3";	# PT6A
IOBUF PORT "pads[195]" PULLMODE=UP;
LOCATE COMP "pads[196]" SITE "A2";	# PT4A
IOBUF PORT "pads[196]" PULLMODE=UP;
