LOCATE      COMP "clk_i"    SITE "P6";
IOBUF       PORT "clk_i"    IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk_i"    25 MHZ;

LOCATE      COMP "MYLED"       SITE "T6";
IOBUF       PORT "MYLED"       IO_TYPE=LVCMOS33;

LOCATE      COMP "TX"       SITE "G3";
IOBUF       PORT "TX"       IO_TYPE=LVCMOS33;

LOCATE      COMP "RX"       SITE "M13";
IOBUF       PORT "RX"       IO_TYPE=LVCMOS33;

LOCATE	COMP	"BALL_A2"	SITE "A2";
IOBUF 	PORT	"BALL_A2"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A3"	SITE "A3";
IOBUF 	PORT	"BALL_A3"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A4"	SITE "A4";
IOBUF 	PORT	"BALL_A4"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A6"	SITE "A6";
IOBUF 	PORT	"BALL_A6"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A7"	SITE "A7";
IOBUF 	PORT	"BALL_A7"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A8"	SITE "A8";
IOBUF 	PORT	"BALL_A8"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A9"	SITE "A9";
IOBUF 	PORT	"BALL_A9"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A10"	SITE "A10";
IOBUF 	PORT	"BALL_A10"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A11"	SITE "A11";
IOBUF 	PORT	"BALL_A11"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A12"	SITE "A12";
IOBUF 	PORT	"BALL_A12"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A13"	SITE "A13";
IOBUF 	PORT	"BALL_A13"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A15"	SITE "A15";
IOBUF 	PORT	"BALL_A15"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A16"	SITE "A16";
IOBUF 	PORT	"BALL_A16"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_A17"	SITE "A17";
IOBUF 	PORT	"BALL_A17"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_B1"	SITE "B1";
IOBUF 	PORT	"BALL_B1"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_B2"	SITE "B2";
IOBUF 	PORT	"BALL_B2"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_B4"	SITE "B4";
IOBUF 	PORT	"BALL_B4"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_B6"	SITE "B6";
IOBUF 	PORT	"BALL_B6"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_B7"	SITE "B7";
IOBUF 	PORT	"BALL_B7"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_B8"	SITE "B8";
IOBUF 	PORT	"BALL_B8"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B9"	SITE "B9";	
IOBUF 	PORT	"BALL_B9"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B10"	SITE "B10";	
IOBUF 	PORT	"BALL_B10"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B11"	SITE "B11";
IOBUF 	PORT	"BALL_B11"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B12"	SITE "B12";	
IOBUF 	PORT	"BALL_B12"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B13"	SITE "B13";	
IOBUF 	PORT	"BALL_B13"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B15"	SITE "B15";	
IOBUF 	PORT	"BALL_B15"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B17"	SITE "B17";	
IOBUF 	PORT	"BALL_B17"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_B18"	SITE "B18";	
IOBUF 	PORT	"BALL_B18"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C1"	SITE "C1";	
IOBUF 	PORT	"BALL_C1"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C2"	SITE "C2";	
IOBUF 	PORT	"BALL_C2"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C3"	SITE "C3";	
IOBUF 	PORT	"BALL_C3"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C4"	SITE "C4";	
IOBUF 	PORT	"BALL_C4"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C6"	SITE "C6";	
IOBUF 	PORT	"BALL_C6"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C7"	SITE "C7";	
IOBUF 	PORT	"BALL_C7"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C8"	SITE "C8";	
IOBUF 	PORT	"BALL_C8"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C9"	SITE "C9";	
IOBUF 	PORT	"BALL_C9"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C10"	SITE "C10";	
IOBUF 	PORT	"BALL_C10"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C11"	SITE "C11";	
IOBUF 	PORT	"BALL_C11"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C12"	SITE "C12";	
IOBUF 	PORT	"BALL_C12"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_C13"	SITE "C13";
IOBUF 	PORT	"BALL_C13"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_C15"	SITE "C15";
IOBUF 	PORT	"BALL_C15"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_C16"	SITE "C16";
IOBUF 	PORT	"BALL_C16"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_C17"	SITE "C17";
IOBUF 	PORT	"BALL_C17"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_C18"	SITE "C18";
IOBUF 	PORT	"BALL_C18"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D1"	SITE "D1";
IOBUF 	PORT	"BALL_D1"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D2"	SITE "D2";
IOBUF 	PORT	"BALL_D2"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D3"	SITE "D3";
IOBUF 	PORT	"BALL_D3"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D4"	SITE "D4";
IOBUF 	PORT	"BALL_D4"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D6"	SITE "D6";
IOBUF 	PORT	"BALL_D6"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D13"	SITE "D13";
IOBUF 	PORT	"BALL_D13"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D15"	SITE "D15";
IOBUF 	PORT	"BALL_D15"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D16"	SITE "D16";
IOBUF 	PORT	"BALL_D16"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D17"	SITE "D17";
IOBUF 	PORT	"BALL_D17"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_D18"	SITE "D18";
IOBUF 	PORT	"BALL_D18"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_F1"	SITE "F1";
IOBUF 	PORT	"BALL_F1"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_F2"	SITE "F2";
IOBUF 	PORT	"BALL_F2"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_F3"	SITE "F3";
IOBUF 	PORT	"BALL_F3"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_F4"	SITE "F4";
IOBUF 	PORT	"BALL_F4"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_F15"	SITE "F15";	
IOBUF 	PORT	"BALL_F15"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_F16"	SITE "F16";	
IOBUF 	PORT	"BALL_F16"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_F17"	SITE "F17";	
IOBUF 	PORT	"BALL_F17"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_F18"	SITE "F18";	
IOBUF 	PORT	"BALL_F18"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_G1"	SITE "G1";	
IOBUF 	PORT	"BALL_G1"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_G3"	SITE "G3";	
IOBUF 	PORT	"BALL_G3"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_G4"	SITE "G4";	
IOBUF 	PORT	"BALL_G4"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_G15"	SITE "G15";	
IOBUF 	PORT	"BALL_G15"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_G16"	SITE "G16";	
IOBUF 	PORT	"BALL_G16"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_G18"	SITE "G18";	
IOBUF 	PORT	"BALL_G18"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H1"	SITE "H1";	
IOBUF 	PORT	"BALL_H1"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H2"	SITE "H2";	
IOBUF 	PORT	"BALL_H2"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H3"	SITE "H3";	
IOBUF 	PORT	"BALL_H3"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H4"	SITE "H4";	
IOBUF 	PORT	"BALL_H4"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H15"	SITE "H15";	
IOBUF 	PORT	"BALL_H15"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H16"	SITE "H16";	
IOBUF 	PORT	"BALL_H16"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H17"	SITE "H17";	
IOBUF 	PORT	"BALL_H17"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_H18"	SITE "H18";	
IOBUF 	PORT	"BALL_H18"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_J1"	SITE "J1";	
IOBUF 	PORT	"BALL_J1"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_J2"	SITE "J2";
IOBUF 	PORT	"BALL_J2"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_J3"	SITE "J3";
IOBUF 	PORT	"BALL_J3"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_J16"	SITE "J16";
IOBUF 	PORT	"BALL_J16"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_J17"	SITE "J17";
IOBUF 	PORT	"BALL_J17"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_J18"	SITE "J18";
IOBUF 	PORT	"BALL_J18"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K1"	SITE "K1";
IOBUF 	PORT	"BALL_K1"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K2"	SITE "K2";
IOBUF 	PORT	"BALL_K2"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K3"	SITE "K3";
IOBUF 	PORT	"BALL_K3"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K4"	SITE "K4";
IOBUF 	PORT	"BALL_K4"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K15"	SITE "K15";
IOBUF 	PORT	"BALL_K15"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K16"	SITE "K16";
IOBUF 	PORT	"BALL_K16"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K17"	SITE "K17";
IOBUF 	PORT	"BALL_K17"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_K18"	SITE "K18";
IOBUF 	PORT	"BALL_K18"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_L1"	SITE "L1";
IOBUF 	PORT	"BALL_L1"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_L3"	SITE "L3";
IOBUF 	PORT	"BALL_L3"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_L4"	SITE "L4";
IOBUF 	PORT	"BALL_L4"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_L15"	SITE "L15";
IOBUF 	PORT	"BALL_L15"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_L16"	SITE "L16";
IOBUF 	PORT	"BALL_L16"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_L18"	SITE "L18";
IOBUF 	PORT	"BALL_L18"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_M1"	SITE "M1";
IOBUF 	PORT	"BALL_M1"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_M2"	SITE "M2";	
IOBUF 	PORT	"BALL_M2"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_M3"	SITE "M3";	
IOBUF 	PORT	"BALL_M3"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_M16"	SITE "M16";	
IOBUF 	PORT	"BALL_M16"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_M17"	SITE "M17";	
IOBUF 	PORT	"BALL_M17"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_M18"	SITE "M18";	
IOBUF 	PORT	"BALL_M18"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_N1"	SITE "N1";	
IOBUF 	PORT	"BALL_N1"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_N2"	SITE "N2";	
IOBUF 	PORT	"BALL_N2"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_N3"	SITE "N3";	
IOBUF 	PORT	"BALL_N3"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_N4"	SITE "N4";
IOBUF 	PORT	"BALL_N4"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N15"	SITE "N15";
IOBUF 	PORT	"BALL_N15"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N16"	SITE "N16";
IOBUF 	PORT	"BALL_N16"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N17"	SITE "N17";
IOBUF 	PORT	"BALL_N17"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_N18"	SITE "N18";
IOBUF 	PORT	"BALL_N18"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_R16"	SITE "R16";
IOBUF 	PORT	"BALL_R16"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_R17"	SITE "R17";
IOBUF 	PORT	"BALL_R17"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_R18"	SITE "R18";
IOBUF 	PORT	"BALL_R18"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T14"	SITE "T14";
IOBUF 	PORT	"BALL_T14"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T15"	SITE "T15";
IOBUF 	PORT	"BALL_T15"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T17"	SITE "T17";
IOBUF 	PORT	"BALL_T17"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_T18"	SITE "T18";
IOBUF 	PORT	"BALL_T18"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_U14"	SITE "U14";
IOBUF 	PORT	"BALL_U14"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_U15"	SITE "U15";
IOBUF 	PORT	"BALL_U15"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_U16"	SITE "U16";
IOBUF 	PORT	"BALL_U16"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_U17"	SITE "U17";
IOBUF 	PORT	"BALL_U17"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_U18"	SITE "U18";
IOBUF 	PORT	"BALL_U18"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_V15"	SITE "V15";
IOBUF 	PORT	"BALL_V15"	IO_TYPE=LVCMOS33;		
LOCATE	COMP	"BALL_V16"	SITE "V16";
IOBUF 	PORT	"BALL_V16"	IO_TYPE=LVCMOS33;
LOCATE	COMP	"BALL_V17"	SITE "V17";	
IOBUF 	PORT	"BALL_V17"	IO_TYPE=LVCMOS33;
